<form method="post" action="{{ path('app_apparence_delete', {'id': apparence.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ apparence.id) }}">
    <button class="btn">Delete</button>
</form>
